<%- include ../layouts/header.ejs %>
<button type="button" onclick="cancelAdd()">Pokaż listę</button>
<button type="button" onclick="addUser()">Dodaj użytkownika</button>
<%- include ../layouts/footer.ejs %>