<%- include ./layouts/header.ejs %>
<p><%= message %></p>
<form method="POST">
    <p><label>Login: </label><input type="text" name="login"></p>
    <p><label>Hasło: </label><input type="password" name="hasło"></p>
    <p><input type="submit" value="Zaloguj"></p>
</form>
<%- include ./layouts/footer.ejs %>